/* ================== */
/* General tag setup. */
/* ================== */

html,
body {
  width: 100%;
  height: 100%;
  background: #fff4cd;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

h1,
h2 {
  font-weight: 700;
}

h3,
h4,
h5,
h6 {
  font-weight: 300;
}

/* ============== */
/* Header styles. */
/* ============== */

header {
  /*background: url( "../images/img-header.jpg" ) no-repeat center center fixed;*/
  background: url("https://farm1.staticflickr.com/624/23506814065_5fc0943bdf_b.jpg")
    no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 5%;
}

header h1 {
  display: inline;
  color: #ffeba7;
}

header small {
  color: #ffd339;
}

.quote-box {
  margin: 0 auto;
  width: 65%;
  text-align: center;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  padding: 10px;

  -moz-box-shadow: 0px 0px 10px #000000;
  -webkit-box-shadow: 0px 0px 10px #000000;
  box-shadow: 0px 0px 10px #000000;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffedd1', endColorstr = '#cfcfcf');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffedd1', endColorstr = '#cfcfcf')";

  /* Background gradient */
  background-image: -moz-linear-gradient(top, #f9f7f5, #f1ecec);
  background-image: -ms-linear-gradient(top, #f9f7f5, #f1ecec);
  background-image: -o-linear-gradient(top, #f9f7f5, #f1ecec);
  background-image: -webkit-gradient(
    linear,
    center top,
    center bottom,
    from(#f9f7f5),
    to(#f1ecec)
  );
  background-image: -webkit-linear-gradient(top, #f9f7f5, #f1ecec);
  background-image: linear-gradient(top, #f9f7f5, #f1ecec);
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  opacity: 0.75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 75);
  filter: alpha(opacity = 75);
}

#generate-quote {
  margin-bottom: 50px;
  background: #ffd339;
}

.quote {
  font-size: 1.5em;
}

.author {
  font-size: 1.2em;
}
