@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.main {
  width: 100%;
  min-height: 100vh;
  background-image: url(https://imgs.search.brave.com/7yFBFPzLqC41i_lEkrpGm-Qn2cyEx2xd_HYkNa3uvAU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA3LzEzLzI1LzI0/LzM2MF9GXzcxMzI1/MjQ1M19sSGFQT3cw/eW9EQ053MlBZN1k5/alJ4dUgzS2sxTTFK/Vy5qcGc);
  background-position: center;
  background-size: cover;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  padding: 10px;
  width: 25%;
  flex-basis: 25%;
  height: 400px;
  border-radius: 5px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

.box img {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
}

.box .overlay {
  width: 100%;
  max-height: 100%;
  min-height: auto;
  position: absolute;
  bottom: -100%;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  left: 0;
  transition: 0.5s;
  background-color: white;
}

.box span {
  color: orange;
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box:hover .overlay {
  bottom: 0%;
}

.overlay h2 {
  margin-bottom: 10px;
}

#search {
  width: 500px;
  padding: 5px 30px;
  background-color: rgba(52, 73, 94, 0.7);
  outline: none;
  border: none;
  box-shadow: 0px 0px 1px white;
  color: White;
  margin-top: 10px;
  font-size: 30px;
  border-radius: 25px;
  transition: 1s;
  margin-bottom: 15px;
}

#search:focus {
  background-color: white;
  color: black;
}
